.step-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    button{
    align-self: flex-start;
    width: auto;
    min-width: unset;
    }
    .step-actions {
            display: flex;
            justify-content: flex-end;
            margin-top: 16px;
            gap: 12px;
        }
}