.advance_Search{
    float: left;
    display: flex;
    width: 100%;
}

.as_c{
    position: relative;
    width: 80%;
    #advance_input{
        width: 100%;       
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        border-radius: 8px 0px 0px 8px;
        height: 34px;
        .i_i{
            display: inline-block;
            padding: 1px;
            .i_i_name{
                padding: 3px;
                color: grey;
                font-size: 12px;
            }

            .i_i_val{
                padding: 3px;
                background-color: gainsboro;
                border-radius: 3px;
                font-size: 12px;
            }

            .i_i_val:active{
                background-color: white;
                border: solid 1px gainsboro;
            }

            input{
                margin-top: 0;
                font-size: 12px;
            }
        }

        .i_i a.boxclose {
            visibility: hidden;
        }
        .i_i:hover a.boxclose  {
            visibility: visible;
        }

        .container_value{
            float: right;

            a.boxclose{
                float: right;
                margin-top:-10px;
                margin-right: -6px;
                cursor:pointer;
                color: rgba(255, 0, 0);
                border: 1px solid rgba(255, 0, 0);
                border-radius: 40px;
                background: #fff;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
                line-height: 0px;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 7px;
                padding-bottom: 9px;
                text-decoration: none;
            }
            
            .boxclose:before {
                content: "\00d7";
            }

            .boxclose:hover{
                background-color: rgba(255, 0, 0);
                color: #fff;
            }

            .boxclose:active{
                background-color: rgb(233, 0, 0);
                color: #fff;
            }
        }
    }

    .ai_active{
        border: solid 3px rgba(42, 178, 241, 0.212);
    }
    .ai_inactive{
        border: solid 1px gainsboro;
        padding: 5px;
    }

    .so_c{
        width: 100%;           
        position: absolute;
        top: 0;
        left: 0;
        background: ghostwhite;
        padding: 5px;
        border-radius: 5px;
        z-index: 9;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 40px;
        p, ul {
            padding: 0;
            margin: 0;
        }
        
        ul{
            list-style-type: none;
            margin: 0px;
            padding: 0px;
    
            li{
                margin: 0px;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 5px;
            }
    
            li:hover{
                margin: 0px;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 5px;
                background-color: whitesmoke;
            }
    
            li:active{
                margin: 0px;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 5px;
                background-color: gainsboro;
            }
        }
    }
}


.header-options{
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
}

.button-row{
    
    mat-icon{
        font-size: 12;
    }

    button{
        background-color: white;
        border: none;
        padding: 3px 0px 1px 0px;
        border: solid 1px gainsboro;
    }

    button:hover{
        background-color: #e9ecef;
    }

    button:active{
        background-color: #ced4da;
    }

    .btn_filter{
        border-radius: 0px 8px 8px 0px;
    }
}