<div id="main_container" class="as_c" #searchContainer>
  <div id="advance_input" (click)="displayOptions()">
    <div class="i_i" *ngFor="let option of data_options">
      <span class="i_i_name">{{option.key}}: </span>
      <span class="i_i_val" [id]="option.key" (dblclick)="optionActivated(option.key)" *ngIf="option.show">{{option.value}}</span>
      <input type="text" autofocus name="" [id]="'input-'+option.key" [value]="option.value" [size]="option.value.length == 0? 10 : option.value.length"
        (keyup.enter)="inputSetVal($event)" *ngIf="!option.show" (focus)="onFocus()">
    </div>
  </div>

  <!-- <mat-button-toggle (click)="action()">
    <mat-icon>view_module</mat-icon>
  </mat-button-toggle> -->
</div>
<div class="so_c" *ngIf="show_options" (mouseleave)="mouseLeave()">
  <ul class="opt_list">
    <li *ngFor="let option of options" (click)="setOption(option)" (mouseenter)="mouseEnter(option)">
      <p>{{option}}</p>
    </li>
  </ul>
</div>
