.cntr-title-info{
    .title-info{
        font-weight: bold;
        text-transform: uppercase;
    }
}

.cntr-data-info{
    padding: 10px;
    .data-info{

    }
}

.img-container{

    img {
        max-height: 200px;
    }
}