<div class="row">
  <div class="col-6">
    <div class="cntr-title-info">
      <span class="title-info">Código :</span>
    </div>
    <div class="cntr-data-info">
      <span class="data-info">{{task_template.code}}</span>
    </div>
  </div>
  <div class="col-6">
    <div class="cntr-title-info">
      <span class="title-info">Nombre :</span>
    </div>
    <div class="cntr-data-info">
      <span class="data-info">{{task_template.name}}</span>
    </div>
  </div>
  <div class="col-6">
    <div class="cntr-title-info">
      <span class="title-info">Descripción :</span>
    </div>
    <div class="cntr-data-info">
      <span class="data-info">{{task_template.description}}</span>
    </div>
  </div>
  <div class="col-6">
    <div class="cntr-title-info">
      <span class="title-info">Emociones :</span>
    </div>
    <div class="cntr-data-info">
      <div *ngFor="let template of task_template.task_template_configuration">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip style="background-color: rgb(255, 0, 255);" class="mat-elevation-z3">
            {{template.emotion_name}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>