<!-- <div class="title-section row mx-1">
    <h2>Historial Clinico</h2>
</div> -->
<div class="dashboard-container m-2">
    <!-- PATIENT LIST -->
    <div class="dashboard-item" id="panel-1">
        <app-patient-list-view (eventGetAllPatients)="getAllPatients($event)"></app-patient-list-view>
    </div>

    <div class="dashboard-item" id="panel-2" style="background-color: white;">
        <div class="dashboard-item-head">
            <div class="head-left">
                <span>Ver más</span>
            </div>
            <div class="head-right">
                <span style="vertical-align: middle;">Crear </span>
                <mat-icon style="color: green;">note_add</mat-icon>
            </div>
        </div>
        <div class="dashboard-item-body text-content">
            <p>Neuro Psicología</p>
            <span class="big-text">{{patient_neuro_psychology}}</span>
        </div>
        <div class="dashboard-item-footer"></div>
    </div>

    <div class="dashboard-item" id="panel-3" style="background-color: white;">
        <div class="dashboard-item-head">
            <div class="head-left">
                <a href="main/clinical-history/early-stimulation/list">Ver más</a>
            </div>
            <div class="head-right">
                <span style="vertical-align: middle;">Crear </span>
                <mat-icon style="color: green;">note_add</mat-icon>
            </div>
        </div>
        <div class="dashboard-item-body text-content">
            <p>Estimulación Temprana</p>
            <span class="big-text2">{{patient_early_stimulation_count}}</span>
        </div>
        <div class="dashboard-item-footer"></div>
    </div>

    <div class="dashboard-item" id="panel-4" style="background-color: white;">
        <div class="dashboard-item-head">
            <div class="head-left">
                <a href="/main/clinical-history/basic-clinical-history/list">Ver más</a>
            </div>
            <div class="head-right">
                <span style="vertical-align: middle;">Crear </span>
                <mat-icon style="color: green;">note_add</mat-icon>
            </div>
        </div>
        <div class="dashboard-item-body text-content">
            <p>Psicoterapia</p>
            <span class="big-text3">{{patient_psychoterapy_count}}</span>
        </div>
        <div class="dashboard-item-footer"></div>
    </div>

    <!-- NEXT PATIENT PANEL -->
    <div class="dashboard-item" id="panel-5" style="background-color: white;">
        <div class="dashboard-item-head">
            <div class="head-title">
                <h3 class="panel-title">Próximo paciente</h3>
            </div>
        </div>
        <div class="dashboard-item-body column-content" *ngIf="next_appointment!=null">
            <div class="content-left">
                <p><a [href]="next_appointment.patient.show_patient_route">{{next_appointment.patient.full_name}}</a>
                </p>
                <p>
                <mat-chip-list>
                    <mat-chip 
                    [ngStyle]="{'background-color': '#9B7EBD', 'color': 'white'}"
                    *ngIf="next_appointment.patient.psychoterapy_patient != null">
                    Psicoterapia
                    </mat-chip>
                    <mat-chip
                    [ngStyle]="{'background-color': '#F8ED8C'}"
                    *ngIf="next_appointment.patient.early_stimulation_patient != null">
                    Estimulación Temprana
                    </mat-chip>
                    <mat-chip
                    [ngStyle]="{'background-color': '#3674B5', 'color': 'white'}"
                    *ngIf="next_appointment.patient.neuro_psychology_patient != null">
                    Neuro Psicología
                    </mat-chip>
                </mat-chip-list>
                </p>
            </div>
            <div class="content-right">
                <div class="big-information">
                    <span class="big-number">{{next_appointment.day}}</span>
                    <span>{{ next_appointment.year+'-'+next_appointment.month+'-'+next_appointment.day | toWeekDay:{ abbreviate: true, capitalize: true } }}</span>
                    <span>{{next_appointment.hour | timeFormat}}</span>
                </div>
            </div>
        </div>
        <div class="dashboard-item-footer" *ngIf="next_appointment!=null">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon fontSet="material-symbols-outlined">clinical_notes</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon fontSet="material-symbols-outlined">edit_calendar</mat-icon>
            </button>
        </div>
    </div>

    <div class="dashboard-item" id="panel-6" style="background-color: white;">
        <div class="dashboard-item-head">
            <div class="head-left">
                <span>Ver más</span>
            </div>
            <div class="head-right">
                <span style="vertical-align: middle;">Crear </span>
                <mat-icon style="color: green;">note_add</mat-icon>
            </div>
        </div>
        <div class="dashboard-item-body text-content">
            <p>Historiales Medicos</p>
            <span class="big-text2">3</span>
        </div>
        <div class="dashboard-item-footer"></div>
    </div>

    <div class="dashboard-item" id="panel-7" style="background-color: white;">
        <div class="dashboard-item-head">
            <div class="head-left">
                <span>Ver más</span>
            </div>
            <div class="head-right">
                <span style="vertical-align: middle;">Crear </span>
                <mat-icon style="color: green;">note_add</mat-icon>
            </div>
        </div>
        <div class="dashboard-item-body text-content">
            <p>Historiales Medicos</p>
            <span class="big-text3">5</span>
        </div>
        <div class="dashboard-item-footer"></div>
    </div>

</div>