<div class="p-2">
    <mat-card>
      <form [formGroup]="patientForm">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <div class="form-group" formGroupName="patient_data">
                  <label [attr.for]="nameForm+'first_name'" class="control-label">Nombres <span class="text-danger">*</span>
                  </label>
                  <input #firstInput type="text" class="form-control" [attr.id]="nameForm+'first_name'"
                    formControlName="first_name" style="text-transform: capitalize;" (keyup)="changeToUppercase('first_name')">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group" formGroupName="patient_data">
                  <label [attr.for]="nameForm+'last_name1'" class="control-label">Apellido Paterno<span
                      class="text-danger">*</span> </label>
                  <input #firstInput type="text" class="form-control" [attr.id]="nameForm+'last_name1'"
                    formControlName="last_name1" style="text-transform: capitalize;" (keyup)="changeToUppercase('last_name1')">
                </div>
              </div>
      
              <div class="col-6">
                <div class="form-group" formGroupName="patient_data">
                  <label [attr.for]="nameForm+'last_name2'" class="control-label">Apellido Materno<span
                      class="text-danger">*</span> </label>
                  <input #firstInput type="text" class="form-control" [attr.id]="nameForm+'last_name2'"
                    formControlName="last_name2" style="text-transform: capitalize;" (keyup)="changeToUppercase('last_name2')">
                </div>
              </div>
  
              <div class="col-4">
                <div class="form-group" formGroupName="patient_data">
                  <label [attr.for]="nameForm+'age'" class="control-label">Edad <span class="text-danger">*</span> </label>
                  <input #firstInput type="number" class="form-control" [attr.id]="nameForm+'age'" formControlName="age">
                </div>
              </div>
  
              <div class="col-8">
                <div class="form-group" formGroupName="patient_data">
                  <label [attr.for]="nameForm+'phone_number'" class="control-label">Número de telefono<span
                      class="text-danger">*</span> </label>
                  <input #firstInput type="text" class="form-control" [attr.id]="nameForm+'phone_number'"
                    formControlName="phone_number" style="text-transform: uppercase;"
                    (keyup)="changeToUppercase('phone_number')">
                </div>
              </div>
  
              <div class="col-12">
                <div class="form-group" formGroupName="patient_data">
                  <label [attr.for]="nameForm+'email'" class="control-label">Correo<span class="text-danger">*</span> </label>
                  <input #firstInput type="text" class="form-control" [attr.id]="nameForm+'email'" formControlName="email">
                </div>
              </div>
  
            </div>
          </div>
          <div class="col-4">
            <div class="form-group" formGroupName="patient_files">
              <div class="uploader-wrapper">
                <input type="file" class="file-input" fileAccept="*" (change)="onFileSelected($event)" #fileUpload
                  formControlName="photo">
              
                <div class="file-upload">
              
                  {{fileName || "No file uploaded yet."}}
              
                  <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
  
          <div class="col-md-12">
            <span class="text-danger">* </span> <label for=""> Campos obligatorios</label>
          </div>
        </div>
      </form>
    </mat-card>
  </div>