<div class="row m-1">
  <div *ngFor="let patient of patient_list; index as i;" class="container-custom-card col-4">
    <div class="body-custom-card mat-elevation-z8" (click)="viewPatient(patient.id)">
      <div class="row m-0 col-12 pt-2">
        <div class="col-6">
          <p>{{patient.first_name}} {{patient.last_name1}} {{patient.last_name2}}</p>
          <p>{{patient.age}}</p>
          <p>{{patient.email}}</p>
          <p>{{patient.phone_number}}</p>
        </div>
        <div class="col-6">
          <div class="img-container col-12">
            <img [src]="patient.image" alt="" class="img-thumbnail imagePreview">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>