<div class="c_login">
  <div class="row">
    <div class="col-12">
      <div class="c_img">
        <img src="assets/logo.png" alt="" srcset="">
      </div>
    </div>
    <div class="col-12 m-0 p-0">
      <div class="form_login">
        <form [formGroup]="formGroup">
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="form-group">
                <label for="username" class="control-label mb-3">
                  <span class="title-info">Usuario <span class="text-danger">*</span> </span>
                </label>
                <input #firstInput type="text" class="form-control" id="username" formControlName="username">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password" class="control-label mb-3">
                  <span class="title-info">Contraseña <span class="text-danger">*</span> </span>
                </label>
                <input #firstInput type="text" class="form-control" id="password" formControlName="password">
              </div>
            </div>
          </div>
          <div class="row mt-3 p-3">
            <button mat-raised-button color="accent" (click)="login()" [disabled]="!formGroup.valid">Iniciar Sesión</button>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>