.example-container {
    height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

.cntr-title-info{
    .title-info{
        font-weight: bold;
        text-transform: uppercase;
    }
}

.cntr-data-info{
    padding: 10px;
    .data-info{

    }
}
