<div class="row">
    <form [formGroup]="formGroup">
        <div formArrayName="emotions">
            <div *ngFor="let emotion of emotions.controls; let i=index" [formGroupName]="i">
                <div class="row">
                    <div class="col-2">
                        <label >{{emotion.value.emotion_name}}</label>
                    </div>
                    <div class="col-10">
                        <mat-radio-group aria-label="Select an option" formControlName="value">
                            <mat-radio-button value="1">nivel 1</mat-radio-button>
                            <mat-radio-button value="2">nivel 2</mat-radio-button>
                            <mat-radio-button value="3">nivel 3</mat-radio-button>
                            <mat-radio-button value="4">nivel 4</mat-radio-button>
                            <mat-radio-button value="5">nivel 5</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </form>
</div>