<mat-card class="m-2">
  <div class="row">
    <div class="col-4">
      <button mat-stroked-button color="primary" [routerLink]="[mainRoute]" *ngIf="showCreate" [disabled]="disabledCreate">Crear</button>
      <button mat-stroked-button color="primary" (click)="save()" *ngIf="showSave" [disabled]="disabledSave">Guardar</button>
      <button mat-stroked-button color="primary" (click)="update()" *ngIf="showUpdate" [disabled]="disabledUpdate">Actualizar</button>
      <button mat-stroked-button color="primary" (click)="edit()" *ngIf="showEdit" [disabled]="disabledEdit">Editar</button>
      <button mat-stroked-button color="warn" (click)="cancel()" *ngIf="showCancel">Cancelar</button>
    </div>
    <div class="col-4">
      <button mat-button [matMenuTriggerFor]="options">Opciones</button>
      <mat-menu #options="matMenu" yPosition="above">
        <button mat-menu-item (click)="delete()">Eliminar</button>
        <button mat-menu-item>Exportar</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    <div class="col-4" *ngIf="searchFlag">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar"
          aria-label="Recipient's username with two button addons">
        <button class="btn btn-outline-secondary" type="button">
          <mat-icon mat-list-icon>search</mat-icon>
        </button>
        <button class="btn btn-outline-secondary" type="button">
          <mat-icon mat-list-icon>contacts</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
