<div class="header-options mat-elevation-z2 mt-2">
  <div class="row m-0">
    <div class="col-2 my-auto">
      <button mat-raised-button color="accent" [routerLink]="[mainRoute]" *ngIf="showCreate" [disabled]="disabledCreate">Crear</button>
      <button mat-raised-button color="primary" (click)="save()" *ngIf="showSave" [disabled]="disabledSave">Guardar</button>
      <button mat-raised-button color="primary" (click)="update()" *ngIf="showUpdate" [disabled]="disabledUpdate">Actualizar</button>
      <button mat-raised-button color="primary" (click)="edit()" *ngIf="showEdit" [disabled]="disabledEdit">Editar</button>
      <button mat-raised-button color="warn" (click)="cancel()" *ngIf="showCancel">Cancelar</button>
    </div>
    <div class="col-3 my-auto">
      <button mat-button [matMenuTriggerFor]="options">Opciones</button>
      <mat-menu #options="matMenu" yPosition="above">
        <button mat-menu-item (click)="delete()">Eliminar</button>
        <button mat-menu-item>Exportar</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="belowMenu">Configuración</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="config()">Asignar tarea</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    <div class="col-7" *ngIf="searchFlag">
      <div class="row">
        <div class="col-8 m-0 p-0">
          <div class="advance_Search">
            <app-advance-search></app-advance-search>
          </div>
        </div>
        <div class="col-4 m-0 p-0">
          <div class="button-row">
            <button (click)="changeToTableView()" *ngIf="showMultipleViewOption">
              <mat-icon>view_list</mat-icon>
            </button>
            <button (click)="changeToCardView()" *ngIf="showMultipleViewOption">
              <mat-icon>view_module</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
