.mat-expansion-panel-header{
  padding-left: 10px;
  padding-right: 0px;
}

.mat-expansion-panel{
  background-color: #B799BF;
}

.mat-expansion-panel-header-title{
  color: white;
}

.mat-expansion-panel-header-description{
  color: white;
  
}

.mat-icon{
  color: white;
}

.mat-list{
  padding: 0px;
}

.mat-list-item{
  border: solid 1px black;
  span{
    padding: 0px;
  }
}

.mat-list-item-content{
  padding: 0px;
  
}

.mat-expansion-panel-body{
  border: solid 1px black !important;
}