<div class="row">
  <div class="col-12">
    <h2 class="section-title">PACIENTE</h2>
  </div>
</div>
<div class="row m-0 pl-2">
  <!-- <div class="col-6">
    <div class="cntr-form">
      <div class="form-title"><span>Nombre :</span></div>
      <div class="form-value"><span>{{data.patient?.first_name}}</span></div>
    </div>
    <div class="cntr-form">
      <div class="form-title"><span>Apellido Paterno :</span></div>
      <div class="form-value"><span>{{data.patient?.last_name1}}</span></div>
    </div>
    <div class="cntr-form">
      <div class="form-title"><span>Apellido Materno :</span></div>
      <div class="form-value"><span>{{data.patient?.last_name2}}</span></div>
    </div>
    <div class="cntr-form">
      <div class="form-title"><span>Edad :</span></div>
      <div class="form-value"><span>{{data.patient?.age}}</span></div>
    </div>
    <div class="cntr-form">
      <div class="form-title"><span>Sexo :</span></div>
      <div class="form-value"><span>{{data.patient?.gender}}</span></div>
    </div>
    <div class="cntr-form">
      <div class="form-title"><span>Domicilio :</span></div>
      <div class="form-value"><span>{{data.patient?.address}}</span></div>
    </div>
    <div class="cntr-form">
      <div class="form-title"><span>Fecha de Nacimiento :</span></div>
      <div class="form-value"><span>{{data.patient?.date_of_birth}}</span></div>
    </div>
    <div class="cntr-form">
      <div class="form-title"><span>Lugar de Nacimiento :</span></div>
      <div class="form-value"><span>{{data.patient?.birthplace}}</span></div>
    </div>
    <div class="cntr-form">
      <div class="form-title"><span>Lugar de Residencia :</span></div>
      <div class="form-value"><span>{{data.patient?.residence_location}}</span></div>
    </div>
  </div>

  <div class="col-6">
    <div class="cntr-form">
      <div class="form-title"><span>Diagnóstico Médico :</span></div>
      <div class="form-value"><span>{{data.medical_diagnosis}}</span></div>
    </div>
    <div class="cntr-form">
      <div class="form-title"><span>Fuente de Información :</span></div>
      <div class="form-value"><span>{{data.source_information}}</span></div>
    </div>
    <div class="cntr-form">
      <div class="form-title"><span>Motivo de Consulta :</span></div>
      <div class="form-value"><span>{{data.reason_consultation}}</span></div>
    </div>
  </div> -->
</div>