<div class="row">
    <div *ngFor="let task of application; let i=index">
        <div class="row">
            <div class="col-2">
                <label>{{task.emotion}}</label>
            </div>
            <div class="col-10">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button
                        *ngFor="let option of task.options"
                        [value]="option.value"
                        [checked]="option.checked"
                        [disabled]="true">
                    {{ option.name }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <br>
    </div>
</div>