<div class="sidenav-container">
  <div class="sidenav" [@navAnimation]="currentState">
    <button mat-icon-button color="accent" (click)="changeNavState()">
      <!-- sidenav-content -->
      <mat-icon>apps</mat-icon>
    </button>
    <app-side_menu></app-side_menu>
  </div>
  <div class="sidenav-content" [@navContentAnimation]="currentState">
    <div class="row side-nave-header m-0 p-0 mat-elevation-z2">
        <app-breadcrumb class="col-10"></app-breadcrumb>
      <div class="col-2">
        <app-perfil_menu></app-perfil_menu>
      </div>
    </div>

    <app-header></app-header>

    <mat-card class="example-card m-2">
      <mat-card-title>{{platformTitle}}</mat-card-title>
      <mat-card-subtitle>{{platformSubtitle}}</mat-card-subtitle>
      <mat-card-content>
        <div [@routeAnimations]="getRouteAnimationData()">
          <router-outlet></router-outlet>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>