<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-12">
        <div class="cntr-title-info">
          <span class="title-info">Nombre :</span>
        </div>
        <div class="cntr-data-info">
          <span class="data-info">{{patient.first_name}} {{patient.last_name1}} {{patient.last_name2}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="cntr-title-info">
          <span class="title-info">Edad :</span>
        </div>
        <div class="cntr-data-info">
          <span class="data-info">{{patient.age}}</span>
        </div>
      </div>
      <div class="col-8">
        <div class="cntr-title-info">
          <span class="title-info">Número de telefono :</span>
        </div>
        <div class="cntr-data-info">
          <span class="data-info">{{patient.phone_number}}</span>
        </div>
      </div>
      <div class="col-12">
        <div class="cntr-title-info">
          <span class="title-info">Correo :</span>
        </div>
        <div class="cntr-data-info">
          <span class="data-info">{{patient.email}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <img [src]="patient.image" alt="" class="img-thumbnail imagePreview">
  </div>
</div>