<div class="p-2">
  <mat-card class="example-card">
    <mat-card-title>Psicólogas</mat-card-title>
    <mat-card-subtitle>Listado cards</mat-card-subtitle>
    <div class="row m-1">
      <div *ngFor="let psychologist of psychologist_list; index as i;" class="container-custom-card col-4">
        <div class="body-custom-card mat-elevation-z8" (click)="viewPsychologist(psychologist.id)">
          <div class="row m-0 col-12 pt-2">
            <div class="col-6">
              <p>{{psychologist.first_name}} {{psychologist.last_name1}} {{psychologist.last_name2}}</p>
              <p>{{psychologist.age}}</p>
              <p>{{psychologist.email}}</p>
              <p>{{psychologist.phone_number}}</p>
              <p>Universidad</p>
              <p>{{psychologist.university}}</p>
              <p>Grado de estudios</p>
              <p>{{psychologist.studies}}</p>
              <p>Perfil</p>
              <p>{{psychologist.profile}}</p>
            </div>
            <div class="col-6">
              <div class="img-container col-12">
                <img [src]="psychologist.image" alt="" class="img-thumbnail imagePreview">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>