<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">

    <!-- Emotion Column -->
    <ng-container matColumnDef="emotion_name">
      <th mat-header-cell *matHeaderCellDef> Emoción </th>
      <td mat-cell *matCellDef="let element"> {{element.emotion_name}} </td>
    </ng-container>

    <!-- Conduct Column -->
    <ng-container matColumnDef="conduct">
      <th mat-header-cell *matHeaderCellDef> Conducta</th>
      <td mat-cell *matCellDef="let element"> {{element.conduct}} </td>
    </ng-container>

    <!-- Functionality Column -->
    <ng-container matColumnDef="functionality">
      <th mat-header-cell *matHeaderCellDef> Funcionalidad</th>
      <td mat-cell *matCellDef="let element"> {{element.functionality}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

</div>