<div class="p-2">
  <mat-card>
    <form [formGroup]="patientForm">
      <!--  -->
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline" formGroupName="patient">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Placeholder" formControlName="first_name" required>
                <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                <mat-hint>Hint</mat-hint>
                <mat-error>error</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" formGroupName="patient">
                <mat-label>Apellido Paterno</mat-label>
                <input matInput placeholder="Placeholder" formControlName="last_name1" required>
                <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                <mat-hint>Hint</mat-hint>
                <mat-error>error</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" formGroupName="patient">
                <mat-label>Apellido Materno</mat-label>
                <input matInput placeholder="Placeholder" formControlName="last_name2" required>
                <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                <mat-hint>Hint</mat-hint>
                <mat-error>error</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" formGroupName="patient">
                <mat-label>Edad</mat-label>
                <input matInput type="number" placeholder="Placeholder" formControlName="age" required min="1">
                <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                <mat-hint>Años</mat-hint>
                <mat-error>error</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Edad en meses</mat-label>
                <input matInput type="number" placeholder="Placeholder" formControlName="age_months" required min="1">
                <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                <mat-hint>Meses</mat-hint>
                <mat-error>error</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" formGroupName="patient">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput [matDatepicker]="patient_picker" formControlName="date_of_birth_aux" required >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="patient_picker"></mat-datepicker-toggle>
                <mat-datepicker #patient_picker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" formGroupName="patient">
                <mat-label>Género</mat-label>
                <input matInput placeholder="Placeholder" formControlName="gender" required>
                <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                <mat-hint>M/F</mat-hint>
                <mat-error>error</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline" formGroupName="patient">
                <mat-label>Dirección</mat-label>
                <input matInput placeholder="Placeholder" formControlName="address" required>
                <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                <mat-hint>Colonia - Calle - #</mat-hint>
                <mat-error>error</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" formGroupName="patient">
                <mat-label>Lugar de nacimiento</mat-label>
                <input matInput placeholder="Placeholder" formControlName="birthplace" required>
                <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                <mat-hint>Colonia - Calle - #</mat-hint>
                <mat-error>error</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" formGroupName="patient">
                <mat-label>Lugar de residencia</mat-label>
                <input matInput placeholder="Placeholder" formControlName="residence_location" required>
                <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                <mat-hint>Colonia - Calle - #</mat-hint>
                <mat-error>error</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-0 p-0">
        <div class="col-12 mt-3">
          <mat-tab-group color="primary">
            <mat-tab label="MADRE">
              <div class="row m-0 p-0">
                <div class="col-12 mt-3">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="section-title">MADRE</h2>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-sm-12 col-md-6">
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="first_name" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="last_name1" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="last_name2" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Edad</mat-label>
                            <input matInput type="number" placeholder="Placeholder" formControlName="age" required
                              min="1">
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input matInput [matDatepicker]="mother_picker" formControlName="date_of_birth_aux" required>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="mother_picker"></mat-datepicker-toggle>
                            <mat-datepicker #mother_picker disabled="false"></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Género</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="gender" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>M/F</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Dirección</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="address" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Lugar de nacimiento</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="birthplace" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Lugar de residencia</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="residence_location" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Educación</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="education" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Ocupación</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="occupation" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Número de teléfono</mat-label>
                            <span matPrefix>+52 &nbsp;</span>
                            <input matInput placeholder="Placeholder" formControlName="phone" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">call</mat-icon>
                            <mat-hint>+52</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="mother">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="email" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">alternate_email</mat-icon>
                            <mat-hint>@dominio.com</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </mat-tab>
            <mat-tab label="PADRE">
              <div class="row m-0 p-0">

                <div class="col-12 mt-3">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="section-title">PADRE</h2>
                    </div>
                  </div>
                  <div class="row section">

                    <div class="col-sm-12 col-md-6">
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="first_name" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="last_name1" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="last_name2" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Edad</mat-label>
                            <input matInput type="number" placeholder="Placeholder" formControlName="age" required
                              min="1">
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input matInput [matDatepicker]="father_picker" formControlName="date_of_birth_aux" required >
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="father_picker"></mat-datepicker-toggle>
                            <mat-datepicker #father_picker disabled="false"></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Género</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="gender" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>M/F</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Dirección</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="address" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Lugar de nacimiento</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="birthplace" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Lugar de residencia</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="residence_location" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Educación</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="education" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Ocupación</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="occupation" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Número de teléfono</mat-label>
                            <span matPrefix>+52 &nbsp;</span>
                            <input matInput placeholder="Placeholder" formControlName="phone" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">call</mat-icon>
                            <mat-hint>+52</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="father">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="email" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">alternate_email</mat-icon>
                            <mat-hint>@dominio.com</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </mat-tab>
            <mat-tab label="RESPONSABLE LEGAL">
              <div class="row m-0 p-0">

                <div class="col-12 mt-3">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="section-title">REPRESENTANTE LEGAL</h2>
                    </div>
                  </div>
                  <div class="row section">

                    <div class="col-sm-12 col-md-6">
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="first_name" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="last_name1" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="last_name2" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Edad</mat-label>
                            <input matInput type="number" placeholder="Placeholder" formControlName="age" required
                              min="1">
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Hint</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input matInput [matDatepicker]="legal_guardian_picker" formControlName="date_of_birth_aux" >
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="legal_guardian_picker"></mat-datepicker-toggle>
                            <mat-datepicker #legal_guardian_picker disabled="false"></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Género</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="gender" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>M/F</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Dirección</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="address" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Lugar de nacimiento</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="birthplace" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Lugar de residencia</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="residence_location" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Educación</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="education" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Ocupación</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="occupation" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">user_attributes</mat-icon>
                            <mat-hint>Colonia - Calle - #</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Número de teléfono</mat-label>
                            <span matPrefix>+52 &nbsp;</span>
                            <input matInput placeholder="Placeholder" formControlName="phone" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">call</mat-icon>
                            <mat-hint>+52</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" formGroupName="legal_guardian">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="email" required>
                            <mat-icon matSuffix fontSet="material-symbols-outlined">alternate_email</mat-icon>
                            <mat-hint>@dominio.com</mat-hint>
                            <mat-error>error</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="text-danger">* </span> <label for=""> Campos obligatorios</label>
        </div>
      </div>
    </form>
  </mat-card>
</div>