<div class="dashboard-container m-2">
    <div id="track-list-container">
        <div class="title-section row mx-1">
            <h2>Historial Clinico</h2>
        </div>
        <div class="body-section m-0">
            <div class="dashboard-item-container">
                <div class="dashboard-item" style="background-color: #FF1FCE;">
                    <div class="dashboard-item-head">
                        <span>Header</span>
                    </div>
                    <div class="dashboard-item-body">
                        <span>Body</span>
                    </div>
                    <div class="dashboard-item-footer">
                        <span>Footer</span>
                    </div>
                </div>
            </div>
            <div class="dashboard-item-container">
                <div class="dashboard-item" style="background-color: #FFAB1F;">
                    <div class="dashboard-item-head">
                        <div class="head-left">
                            <span>Ver más</span>
                        </div>
                        <div class="head-right">
                            <mat-icon>note_add</mat-icon>
                        </div>
                    </div>
                    <div class="dashboard-item-body">

                    </div>
                    <div class="dashboard-item-footer"></div>
                </div>
            </div>
            <div class="dashboard-item-container">
                <div class="dashboard-item">
                    <div class="dashboard-item-head"></div>
                    <div class="dashboard-item-body"></div>
                    <div class="dashboard-item-footer"></div>
                </div>
            </div>
            <div class="dashboard-item-container">
                <div class="dashboard-item">
                    <div class="dashboard-item-head"></div>
                    <div class="dashboard-item-body"></div>
                    <div class="dashboard-item-footer"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="track-form-container">
        <div class="title-section row mx-1">
            <h2>Nota clinica</h2>
        </div>
        <div class="body-section row mx-1 mat-elevation-z5">
            <p>prron</p>
        </div>
    </div>
</div>