#track-list-container{ grid-area: c1; }
#track-form-container{ grid-area: c3;}

.dashboard-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  grid-template-areas: 
      "c1 c1 c1 c1 c1 c1"
      "c3 c3 c3 c3 c3 c3"
      "c3 c3 c3 c3 c3 c3";
  gap: 10px; 

}

.body-section{
    display: flex;
    justify-content: space-around;
    border: solid 1px black;

    .dashboard-item-container{
        width: 25%;
        padding: 5px;
        border: solid 1px black;

        
        .dashboard-item{
            background-color: white;
            border-radius: 8px;
            border: solid 1px black;

            .dashboard-item-head{
                display: flex;
                border: solid 1px blue;

                .head-left{
                    width: 70%;
                    border: solid 1px black;
                    align-items: center;
                }

                .head-right{
                    width: 30%;
                    border: solid 1px black;
                }
            }
        }
    }
}
  
.title-section{
  h2{
    color: gray;
  }
}

.patient-list-body{
  :hover{
    background-color: whitesmoke;
    cursor: pointer;
  }
  
}

.mat-row:hover .mat-cell {
  background-color: whitesmoke;
  cursor: pointer;
}

.patient-list-card-c{
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px gainsboro;

  .user-info-c{
    display: flexbox;

    .user-info-text{
      width: 100%;
      display: inline-block;
    }

  }

  .img-container {
    img {
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
  }

}