
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import 'node_modules/@angular/material/_theming';
// Plus imports for other components in your app.
@import "node_modules/@ng-select/ng-select/themes/default.theme";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$patient-monitoring-primary: mat.define-palette(mat.$blue-palette, 400);


$patient-monitoring-accent: mat.define-palette(mat.$light-green-palette , A200, A400, A700);

// The warn palette is optional (defaults to red).
$patient-monitoring-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$patient-monitoring-theme: mat.define-light-theme((
  color: (
    primary: $patient-monitoring-primary,
    accent: $patient-monitoring-accent,
    warn: $patient-monitoring-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($patient-monitoring-theme);
// @include angular-material-theme($patient-monitoring-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';


.modal-xxl .modal-dialog { 
  max-width: 95% !important;
  width: 95% !important;
}

.floating-box{
  z-index: 1 ;
  position: absolute;
  height: 50px ;
  padding: 0 ;
  width: 200px;
  border: solid 1px black;
  background-color: rgba(220, 220, 220, 0.493);
  left: 500px;
}


@mixin sororas-sidenav(){
  .mat-sidenav{
    background-color: #f1a6df29;
    
    .mat-expansion-panel{
      background-color: #0496ff;
    }

  }

  .mat-sidenav-content{
    background-color: #f1a6df29;
  }
}

@include sororas-sidenav();

.d-row{ //Display row
  display: flex;
  justify-content: space-around;
}

.zw-2{ width: 12.5%; }

.zw-3{ width: 33%; }

.zw-4{ width: 25%; }

.zw-6{ width: 50%; }

.zw-12{ width: 100%; }

.zh-s{ height: 150px; }

.zh-m{ height: 300px; }

.zh-l{ height: 600px; }

@import 'ckeditor5/ckeditor5';